<h1>Home</h1>

<h2>WELCOME!!</h2>

<p>
lets play rock paper scissors! no running!!
It's simple to play. At the top type
start/ then whatever move you want to make followed by a
/ with what move your opponent wants to play.
Hit enter and lets see who wins!!

</p>
